{% extends 'base.html'  %}
{% block title %}Home{% endblock %}
{% block content %}
    <article class = "assignment-article">
        <h2>Welcome to my app!</h2>
        <p>I have designed this app for an assignment in webdesign.</p>
        <h3>What is the assignment?</h3>
        <p>The assignment is to create a simple Flask app using CSS and HTML.</p>
        <p>The app should have a page where I present myself, and a page where
            I explain how I understand Python and Flask. Here I should also tell
            if I have experience with Flask or other web-frameworks before.</p>
        <h3>How have I solved the assignment?</h3>
        <p>I have created a simple app consisting of three pages. A main page, 
            a page where I present myself, and a page where I explain what Flask is.</p>
        <p>I have chosen to create a simple design, with minimal colors. This is
            because I wanted to try out layouts before I focus more on the design
            and making it look cute.</p>
    </article>
    <article class = "assignment-article-2">
        <h2>What did I learn?</h2>
        <p>I have learned a lot of HTML, and learned how easy it can be to ruin the
            whole structure, by just using the wrong tags. I have also learned a lot about CSS, 
            and how to use classes and IDs.</p>

{% endblock %}