<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Obligatorisk Innlevering{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <header >
            <img src="{{ url_for('static', filename='images/header.png') }}" alt="Header" class="header-image">
        </header>
        <nav id="navbar" class="navbar">
            <a href="{{ url_for('index') }}" class="nav-item {% if active_page == 'index' %}active{% endif %}">Home</a>
            <a href="{{ url_for('aboutflask') }}" class="nav-item {% if active_page == 'aboutflask' %}active{% endif %}">About Flask</a>
            <a href="{{ url_for('aboutme') }}" class="nav-item {% if active_page == 'aboutme' %}active{% endif %}">About Me</a>
        </nav>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('nav-toggle').addEventListener('click', function() {
                document.getElementById('navbar').classList.toggle('active');
            });
        });
    </script>
</html>