body {
    background-color: white;
}

header {
    display: flex;
    background-color: #FAA916;
    padding-top: 20px;
}

header h1 {
    color: #0F266C;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #1B46C5;
}

header img {
    padding-left: 10px;
    border: 3px;
    height: 200px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #D90F08;
    padding: 10px;
}

nav ul {
    display: inline;
    margin: 0 15px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #C50D07;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: #8B4513;
}

article p {
    font-size: 1.1em;
    line-height: 1.6;
}

article h3 {
    color: #8B4513;
}

article ol {
    margin-left: 20px;
}

article ol li {
    margin-bottom: 8px;
}

article ul {
    margin-left: 40px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #FFD700;
    border-top: 5px solid #FFA500;
    margin-top: 20px;
}
